@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
    display:flex;
    background-image: radial-gradient(circle, #d1d1d1 1px, transparent 1px);
    background-size: 20px 20px;
    background-color: white;
    font-family: 'Inter', 'sans-serif';
    font-size: 30px;
    font-weight: 400;
}

.header {
    margin: 30px auto;
    padding: 40px 150px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: 'Inter', 'sans-serif';
}

.bold-text {
    font-weight: 400;
    color: black;
}

.highlight-yellow {
    color: #fbbf24; 
    font-weight: bold;
}

.highlight-blue {
    background-color: #93c5fd; 
    border-radius: 3px;
    font-weight: bold;
}

.paragraph-spacing {
    margin: 50px auto; 
}

