@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.footer {
    background-color: #500000;
    width: 100%;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 2rem;  
}

.footer-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    white-space: nowrap;

}

.footer-link:hover {
    text-decoration: underline;
    cursor: pointer;


}
.fa-brands{
    color: white;
    margin-right: 30px;
}

.fa-solid{
    margin-right: 30px;
}


