.join-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    padding: 40px 20px;
    max-width: 1000px;
  }
  
  .join-us-header {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
  }
  
  .join-us-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    margin: 10px 0;
    max-width: 90%;
    font-family: 'Inter', sans-serif;
    text-align: center;
  }
  
  .join-us-text a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
  }
  
  .join-us-text a:hover {
    border-bottom: 2px solid #000;
  }
  
  .instagram-embed,
  .discord-embed {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .instagram-embed blockquote {
    max-width: 400px;
  }
  
  .discord-join-button {
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin: 30px auto -10px;
    background-color: #5865F2;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Inter', 'sans-serif';
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
  }

  .discord-join-button:hover {
    background-color: #4752C4;
    transform: translateY(-2px);
  }

  .discord-join-button:active {
    transform: translateY(0);
  }