/* Header section */
.about-us-header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 20px;
}

.about-us-box {
    max-width: 800px;
    background-color: #500000;
    color: white;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-us-box h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.4;
}

.about-us-box p {
    font-size: 1.2em;
    line-height: 1.6;
}

.about-us-link {
    color: #fcb532;
    text-decoration: none;
}

.highlight {
    color: #fcb532;
    font-style: italic;
}

/* About Us section */
.about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 60px 20px;
    color: #500000;
}

.about-content {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    align-items: center;
}

.about-text {
    flex: 1;
    margin-right: 20px;
}

.about-text h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.4;
    color: #500000;
}

.about-text p {
    font-size: 1.2em;
    line-height: 1.6;
    color: black;
}

.about-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}